<div id='navBar'>
      <img class='seal' src="../Images/mamaroneckSeal.jpg" alt="Village Seal" height="100" width="100">
      <h2  class='text-center' id='navBarHeader'></h2>
    </div>

    <div id='undrHdr'>
      <div class='row' style='width:100%'>
        <a class="btn btn-primary manageTab" href="ApproverDashboard" role="button">My Dashboard</a>
<span class="nav-item dropdown">
        <a class="btn btn-primary manageTab dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Form</a>
        <div class="dropdown-menu" style="width: 400px;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style = "width: 400px;"href="#">Application For Film Permit - Village Property</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Application For Film Permit - Private Property</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Application for Parking Permit for Disabled Persons</a>
          <span class="nav-item dropdown">
        </div>
      </div>
    </div>
